.counter-wrapper {
    width: auto;
}

.counter-input {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 3px 6px;
    width: 50px;
    height: auto;
    min-height: 32px;
    line-height: 1;
}

.counter-button {
    display: table-cell;
    vertical-align: middle;
    padding: 3px 6px;
    min-height: 32px;
    line-height: 1;
}