.windowContainer {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(100, 100, 100, 0.8);
    backdrop-filter: blur(2px) grayscale(100%);
    transition: all .3s linear;
    z-index: 1;
}

.windowContainerHidden{
    left: -100vw;
}

.productFormContainer{
    padding: 5vh;
    height: 70vh;
    width: 60vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 2;
}

.productFormHidden{
    left: 0;
    transform: translate(-89%, -50%);
}

.productFormDiv{
    float: left;
    width: 90%;
    height: 100%;
    background-color: whitesmoke;
}

.clear{
    clear: both;
}

.labelDiv{
    height: 100%;
    width: 10%;
    float: right;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.label{
    background-color: whitesmoke;
    border-color: aqua;
    width: 100%;
}

.productNameInput{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.defaultUnitSelectDiv{
    width: 50%;
    display: inline-block;
}

.sectionSelectDiv{
    width: 50%;
    display: inline-block;
}