.nav-link .navbar-brand {
    display: inline-block;
    float: none;
    vertical-align: center;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-collapse {
    width: auto;
}

.navbar-brand {
    font-size: 22px;
    margin: 0 10vw;
}